body {
  background: url("../images/bg_01.png") repeat left top;
}
.bx-wrapper {
  margin: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}
.bx-wrapper .bx-caption {
  background-color: unset;
}
.bx-wrapper .bx-caption span {
  color: #555;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Kokoro;
}
@media screen and (max-width: 768px) {
  .bx-wrapper .bx-caption span {
    font-size: 1.2em;
  }
}
#index0 {
  background-image: url("../images/slider_0.JPG");
}
#index0 .bx-caption {
  top: 10px;
  left: 20px;
}
#index1 {
  background-image: url("../images/slider_1.JPG");
}
#index1 .bx-caption {
  top: 50px;
  left: 50px;
}
#index2 {
  background-image: url("../images/slider_2.JPG");
}
#index2 .bx-caption {
  top: 50px;
  left: 10px;
}
#index3 {
  background-image: url("../images/slider_3.JPG");
}
#index3 .bx-caption {
  top: 10px;
  left: 100px;
}
#index4 {
  background-image: url("../images/slider_5.JPG");
}
#index4 .bx-caption {
  top: 70px;
  left: 180px;
}
.slider .slider-item {
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .slider .slider-item {
    height: 300px;
  }
}
.inner {
  padding: 100px 50px 50px;
}
.about h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
}
.about span {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-bottom: 50px;
}
.about p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
}
#movie-container .movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #1b1b1b;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #movie-container .movie {
    display: block;
  }
}
#movie-container .movie .movie-item {
  width: 60%;
}
@media screen and (max-width: 768px) {
  #movie-container .movie .movie-item {
    width: 100%;
  }
}
#movie-container .movie .movie-item .movie-content {
  width: 100%;
  height: 400px;
}
#movie-container .movie .movie-description {
  width: 40%;
}
@media screen and (max-width: 768px) {
  #movie-container .movie .movie-description {
    width: 100%;
  }
}
#movie-container .movie .movie-description h2 {
  padding-top: 20px;
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
}
#movie-container .movie .movie-description span {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-bottom: 50px;
}
#movie-container .movie .movie-description p {
  margin: 0 20px;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
}
.button {
  text-align: center;
}
.button .square_btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #808080;
  border-right: solid 4px #808080;
  color: #808080;
  background: #d3d3d3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.button .square_btn:hover {
  background: #808080;
  color: #fff;
}
.pc {
  display: none;
}
@media screen and (min-width: 769px) {
  .pc {
    display: block;
  }
}
.sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}
