body {
  background: url("../images/bg_01.png") repeat left top;
}
.bx-wrapper {
  margin: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}
.bx-wrapper .bx-caption {
  background-color: unset;
}
.bx-wrapper .bx-caption span {
  color: #555;
  font-size: 1.15em;
  font-family: Arial;
}
.index0 .bx-caption {
  top: 20px;
  left: 20px;
}
.index1 .bx-caption {
  top: 50px;
  left: 50px;
}
.index2 .bx-caption {
  top: 80px;
  left: 80px;
}
.index3 .bx-caption {
  top: 110px;
  left: 110px;
}
.index4 .bx-caption {
  top: 140px;
  left: 140px;
}
.slider img {
  width: 100% !important;
}
.inner {
  padding: 100px 50px 50px;
}
#about h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
}
#about span {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-bottom: 50px;
}
#about p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
}
