pc()
  @media screen and (min-width: 769px)
    {block}
sp()
  @media screen and (max-width: 768px)
    {block}

body
  background url(../images/bg_01.png) repeat left top

.bx-wrapper
  margin 0 !important
  -moz-box-shadow none !important
  -webkit-box-shadow none !important
  box-shadow none !important
  border none !important
  background none !important

  .bx-caption
    background-color unset

    span
      color #555
      font-size 1.5em
      font-weight bold
      font-family Kokoro
      +sp()
        font-size 1.2em

#index0
  background-image url(../images/slider_0.JPG)

  .bx-caption
    top 10px
    left 20px
#index1
  background-image url(../images/slider_1.JPG)

  .bx-caption
    top 50px
    left 50px
#index2
  background-image url(../images/slider_2.JPG)

  .bx-caption
    top 50px
    left 10px
#index3
  background-image url(../images/slider_3.JPG)

  .bx-caption
    top 10px
    left 100px
#index4
  background-image url(../images/slider_5.JPG)

  .bx-caption
    top 70px
    left 180px

.slider
  .slider-item // キービジュアルにbackground-imageを使う場合はこちらを使用
    height 600px
    background-position center center
    background-repeat no-repeat
    //background-attachment fixed
    background-size cover
    +sp()
      height 300px

  /*
  img // キービジュアルにimgを使う場合はこちらを使用
    width 100% !important
    */

.inner
  padding 100px 50px 50px

.about
  h2
    font-size 28px
    text-align center
    margin-bottom 15px

  span
    display block
    font-size 14px
    text-align center
    margin-bottom 50px

  p
    font-size 16px
    margin-bottom 30px
    line-height 1.6

#movie-container

  .movie
    display flex
    background #1b1b1b
    color #fff
    +sp()
      display block

    .movie-item
      width 60%
      +sp()
        width 100%

      .movie-content
        width 100%
        height 400px

    .movie-description
      width 40%
      +sp()
        width 100%

      h2
        padding-top 20px
        font-size 28px
        text-align center
        margin-bottom 15px

      span
        display block
        font-size 14px
        text-align center
        margin-bottom 50px

      p
        margin 0 20px
        font-size 16px
        margin-bottom 30px
        line-height 1.6

.button
  text-align center

  .square_btn
    position relative
    display inline-block
    font-weight bold
    padding 0.5em 1em
    text-decoration none
    border-left solid 4px #808080
    border-right solid 4px #808080
    color #808080
    background #d3d3d3
    transition .4s
    &:hover
      background #808080
      color #FFF

.pc
  display none
  +pc()
    display block

.sp
  display none
  +sp()
    display block
