body
  background url(../images/bg_01.png) repeat left top

.bx-wrapper
  margin 0 !important
  -moz-box-shadow none !important
  -webkit-box-shadow none !important
  box-shadow none !important
  border none !important
  background none !important

  .bx-caption
    background-color unset

    span
      color #555
      font-size 1.15em
      font-family Arial // フォントはまじで考えよう！！

#index0
  background-image url(../images/slider_0.JPG)

  .bx-caption
    top 20px
    left 20px
#index1
  background-image url(../images/slider_1.JPG)

  .bx-caption
    top 50px
    left 50px
#index2
  background-image url(../images/slider_2.JPG)

  .bx-caption
    top 80px
    left 80px
#index3
  background-image url(../images/slider_3.JPG)

  .bx-caption
    top 110px
    left 110px
#index4
  background-image url(../images/slider_4.JPG)

  .bx-caption
    top 140px
    left 140px

.slider
  .slider-item // キービジュアルにbackground-imageを使う場合はこちらを使用
    height 600px
    background-position center center
    background-repeat no-repeat
    background-attachment fixed
    background-size cover
  /*
  img // キービジュアルにimgを使う場合はこちらを使用
    width 100% !important
    */

.inner
  padding 100px 50px 50px

#about
  h2
    font-size 28px
    text-align center
    margin-bottom 15px

  span
    display block
    font-size 14px
    text-align center
    margin-bottom 50px

  p
    font-size 16px
    margin-bottom 30px
    line-height 1.6

#movie-container

  .movie
    display flex
    background #1b1b1b
    color #fff

    .movie-item
      width 60%

      .movie-content
        width 100%
        height 400px

    .movie-description
      width 40%

      h2
        margin-top 20px
        font-size 28px
        text-align center
        margin-bottom 15px

      span
        display block
        font-size 14px
        text-align center
        margin-bottom 50px

      p
        margin 0 20px
        font-size 16px
        margin-bottom 30px
        line-height 1.6
